STATECHECKER_SERVER_AUTHENTICATION_TOKEN=
STATECHECKER_SERVER_DB_ROOT_USER_PW=
STATECHECKER_SERVER_DB_USER_PW=
STATECHECKER_SERVER_TELEGRAM_SENDER_BOT_TOKEN=
STATECHECKER_SERVER_EMAIL_SENDER_PASSWORD=
STATECHECKER_SERVER_GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON=
